.q-btn {
  border-radius: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: var(--white-100);
  text-transform: none;
  padding: 8px 12px;

  &:before {
    box-shadow: none !important;
  }

  &.big {
    padding: 16px 20px;
  }

  &.bg-grey {
    color: var(--black) !important;
    background-color: var(--grey) !important;

    &.active {
      box-shadow: 0 0 0 1px var(--black);
    }
  }
}

.q-select {
  background: var(grey-200);
  border-radius: 12px;

  .q-field__control{
    &:before{
      border: 1px solid var(--grey-100);
      border-radius: 12px;
    }
  }

  .q-field__native {
    height: 56px;
  }

  .q-field__append {
    height: 56px !important;
  }
}